bar {
    background-color: #1a1b26;
    color: #c0caf5;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    height: 40px;
    padding: 0 8px;
    gap: 8px;
    border-radius: 8px;
    border-width: 2px;
    border-color: #7aa2f7;
    margin: 8px 8px -8px 8px;
}

bar:focus {
    border-color: #7aa2f7;
}

.tooltip {
    background-color: #1e1e2e;
    border-radius: 4px;
    padding: 4px 8px;
    color: #ffffff;
}
